@import "global";
@import "bg";
@import "three-box";
@import "video-section";
@import "faces-section";
@import "footer";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


@media screen and (max-width: 992px) {

}
